
  <div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div><h3>Cliente</h3></div>
      <div [hidden]="!isVisibleValidation" class="alert alert-danger">
        <div><h3>Validações</h3></div>
        <div *ngIf="showRazaoSocialValidation">
          Razão Social é obrigatória.
        </div>
        <div *ngIf="showCNPJValidation">
          CNPJ é obrigatório.
        </div>
        <div *ngIf="showDataCadastroValidation">
          Data de Cadastro é obrigatório.
        </div>
        <div *ngIf="showDataCadastroIsValid">
          Formato de data Inválida.
        </div>
        <div *ngIf="showCNPJIsValid">
          CNPJ Inválido.
        </div>
      </div>
      <div *ngIf="!submitted">
        <div class="form-group">
            <label for="codigo">Código</label>
            <input
              type="text"
              class="form-control"
              id="codigo"
              required
              [(ngModel)]="clienteEntity.codigo"
              name="codigo"
            />
        </div>
        <div class="form-group">
          <label for="razaosocial">Razão Social</label>
          <input
            type="text"
            class="form-control"
            id="razaosocial"
            required
            [(ngModel)]="clienteEntity.razaoSocial"
            name="razaosocial"
            maxlength="100"
          />
        </div>
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <input
            class="form-control"
            id="cnpj"
            required
            [(ngModel)]="clienteEntity.cnpj"
            name="cnpj"
            maxlength="14"
          />
        </div>
        <div class="form-group">
            <label for="datacadastro">Data de Cadastro</label>
            <input
              class="form-control"
              id="datacadastro"
              required
              [(ngModel)]="clienteEntity.dataCadastro"
              name="datacadastro"
              placeholder="dd/mm/yyyy"
              datetime="dd-MM-yyyy"
              maxlength="10"
            />
        </div>
        <button (click)="saveCliente()" class="btn btn-success">Salvar</button>
        <a class="btn btn-success" routerLink="/listclientes">
          Voltar
        </a>  
      </div>

    </div>
  </div>
